* {
    box-sizing: border-box;
}

.w {
    width: 60%;
    margin: 0 auto;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: linear-gradient(to top left, #ffe29f, #ffa99f, #ff719a);
    overflow: hidden;
}

.container {
    text-align: center;
    color: #fff;

}

.container h1 {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 15px;
    transition: 1s ease-in-out;
}

.container h2 {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    transition: 1s ease-in-out;
}

.quit_but {
    display: block;
    width: 173px;
    height: 22px;

    padding-top: 2px;
    text-align: center;
    font: normal 400 12px 'Poppins', sans-serif;
    border: none;
    background-color: rgba(255, 136, 72, 0.9);
    border-radius: 8px;
    transition: all .5s;
    color: white;
    z-index: 100;
}

/* .intermed_result {
    display: flex;
} */

.prompt {
    float: left;
    opacity: 0;
    transition: 1s ease-in-out;
}

.each_prompt {
    font-size: 16px;
    font-weight: 100;
    color: white;
    margin-bottom: 5px;

}

.prompt_weight {
    float: right;
    opacity: 0;
    transition: 1s ease-in-out;
}

.each_weight {
    font-size: 16px;
    font-weight: 100;
    color: white;
    margin-bottom: 5px;
}












.bg-squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;


}

.bg-squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    bottom: -160px;
    animation: square 2s linear infinite;
    border-radius: 10px;
}

.bg-squares li:nth-child(1) {
    left: 5%;
}

.bg-squares li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 17s;
}

.bg-squares li:nth-child(3) {
    left: 25%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 5s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-squares li:nth-child(4) {
    left: 45%;
    width: 60px;
    height: 60px;
    animation-delay: 1s;
    animation-duration: 3s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-squares li:nth-child(5) {
    left: 55%;
    width: 30px;
    height: 30px;
    animation-delay: .5s;
    animation-duration: 8s;
}

.bg-squares li:nth-child(6) {
    left: 70%;
    width: 70px;
    height: 70px;
    animation-delay: 3s;
    animation-duration: 20s;
    background-color: rgba(255, 255, 255, 0.3);
}


.bg-squares li:nth-child(7) {
    left: 95%;
    width: 40px;
    height: 40px;
    animation-delay: .5s;
    animation-duration: 12s;
    background-color: rgba(255, 255, 255, 0.3);
}

.container.success h1 {
    transform: translateY(75px);
}

.container.success .form {
    opacity: 0;
}

@keyframes square {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-120vh) rotate(600deg);
    }

}