<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home page</title>
    <link rel="shortcut icon" href="../static/favicon.png">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/loading.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Indie+Flower" />
</head>

<body>
    <div class="container">
        <h1>Welcome</h1>
        <h2>Curring procedure status: Searching for prompt</h2>


    </div>
    <!-- <button class="quit_but"><a href="{{url_for('index')}}"></a></button> -->
    <a href="{{url_for( 'index' )}}" class="quit_but">Quit</a>
    <div class="intermed_result w">
        <div class="prompt">
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
            <div class="each_prompt">prompt1</div>
        </div>
        <div class="prompt_weight">
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
            <div class="each_weight">score1</div>
        </div>
    </div>


    <ul class="bg-squares">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>



    <script src="../static/js/loading.js">



    </script>
</body>

</html>