<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home page</title>
    <link rel="shortcut icon" href="../static/favicon.png">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/sign_up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Indie+Flower" />
</head>

<body>
    <div class="container">
        <h1>Welcome</h1>

        <div class="form">
            <input type="text" placeholder="your account">
            <input type="password" id="password" placeholder="your password">
            <input type="password" id="confirm_password" placeholder="please confirm your password">
            <button class="btn-login">sign up</button>
        </div>


    </div>

    <ul class="bg-squares">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>



    <script src="../static/js/sign_up.js">



    </script>
</body>

</html>